/* styles.css or any relevant stylesheet */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-custom {
  border-radius: 50px !important;
  color: black !important; /* Adjust the border radius value as needed */
  font-size: 14px !important;
  border-color: rgb(179, 186, 197) !important;
}
.header1 {
  font-weight: 600;
  color: rgb(23, 43, 77);
}
.customlabel {
  font-weight: 600 !important;
  color: rgb(23, 43, 77) !important;
}
.inputfield {
  height: 55%;
  width: 50%;
}

.btn-primary1 {
  color: black;
}
select option {
  background-color: white; /* Background color of options */
  color: black; /* Text color of options */
}

select option:hover {
  background-color: lightblue; /* Background color of options on hover */
  color: white; /* Text color of options on hover */
}
.perks-buttons-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.perk-button {
  border: 1px solid gray;
  border-radius: 20px !important;

  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.perk-button.selected {
  background-color: rgb(235, 243, 254) !important;
  color: rgb(40, 99, 172) !important;
  border-radius: 20px !important;
  border: 1px solid rgb(40, 99, 172);
}
.skills-buttons-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.job-title-button {
  border: 1px solid gray;
  border-radius: 20px !important;

  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.job-title-button.selected {
  background-color: #ebf3fe !important;
  color: rgb(40, 99, 172) !important;
  border-radius: 20px !important;
  border: 1px solid rgb(40, 99, 172);
}

.btn-custom {
  border-radius: 50px !important;
  /* color: black !important; */
  font-size: 14px !important;
  /* border-color: rgb(179, 186, 197) !important; */
}
der1 {
  font-weight: 600;
  color: rgb(23, 43, 77);
}
.customlabel {
  font-weight: 600 !important;
  color: rgb(23, 43, 77) !important;
}
.inputfield {
  height: 55%;
  width: 50%;
}

.btn-primary1 {
  color: black;
}

/* .default-btn {
  cursor-pointer font-medium  px-3 py-4 rounded-2xl duration-100  border-[1px] border-gray-400 select-none text-nowrap badge  badge-outline z-0 bg-white;
} */
/* .active-btn {
  @apply bg-blue-50  text-blue-500 border-[1px] border-blue-700;
}
.inactive-btn {
  @apply text-black border-[1px] border-gray-400;
}

.btn-info {
  @apply badge cursor-pointer select-none  rounded-l-3xl pl-6 pr-2 bg-[#F4F5F7] py-4 duration-100 text-right -ml-5;
} */
